@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-slate-800
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  margin-right: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgb(193, 193, 193);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: grey;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}